@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');
/* Edited and subset version of https://github.com/eosrei/twemoji-color-font */
/* CC-BY 4.0 (Brad Erickson)  */
/* Twemoji Color Font is derived from https://github.com/twitter/twemoji */
/* MIT License (Twitter)*/

@font-face {
  font-family: 'mizaru';
  src: url('../fonts/mizaru.woff2') format('woff2'),
      url('../fonts/mizaru.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-option-blue:  hsl(189, 61%, 34%);
  --color-option-green: #2d9551;
  --color-option-red:   #d64356;
  --color-option-black: #242826;
  --color-option-brown: #6a482f;
  --color-option-none:  #ffffff;  

  --color-primary: #2b4246;
  --color-background: #fffcf2;
  --color-success: var(--color-option-blue);
  --color-warning: #bf4957;
  --color-focus: #c7840a;
  --color-error-background: hsla(353, 74%, 62%, 0.2);

  --animal-background: #ffffff;
  
  --bear-primary: #777777;
  --bear-outline: #333333;
  --bear-light: #bebebe;
  --bear-dark: #222222;
  --bear-eyes: #eaeaea;
  
  --tiger-primary: #838383;
  --tiger-outline: #4d4d4d;
  --tiger-dark: #282828;
  --tiger-light: #f4f4f4;
  
  --snake-primary: #979797;
  --snake-light: #eeeeee;
  --snake-dark: #4b4b4b;
  --snake-outline: #3f3f3f;
  --snake-tongue: #e9e9e9;
  
  --donkey-primary: #999999;
  --donkey-light: #dfdfdf;
  --donkey-outline: #3c3c3c;
  --donkey-eye: #eaeaea;
  
  --width-icon-status: 3rem;
  --width-form: calc(100% - var(--width-icon-status));

  --color-shadow: 47deg 18% 52%;
  --color-shadow-button: 189deg 18% 34%;

  --outline-focus: var(--color-focus) solid 2px;

  --shadow-elevation-low:
    0.1px 0.2px 0.3px hsl(var(--color-shadow) / 0.09),
    0.3px 0.3px 0.6px -0.2px hsl(var(--color-shadow) / 0.32),
    0.6px 0.8px 1.4px -0.5px hsl(var(--color-shadow) / 0.56);
  --shadow-elevation-medium:
    0.1px 0.2px 0.3px hsl(var(--color-shadow) / 0.09),
    0.7px 0.9px 1.6px -0.2px hsl(var(--color-shadow) / 0.28),
    1.5px 1.8px 3.3px -0.3px hsl(var(--color-shadow) / 0.47),
    3.2px 3.9px 7.2px -0.5px hsl(var(--color-shadow) / 0.65);
  --shadow-button-low:
    0.1px 0.2px 0.3px hsl(var(--color-shadow-button) / 0.18),
    0.3px 0.3px 0.6px -0.5px hsl(var(--color-shadow-button) / 0.35),
    0.6px 0.8px 1.4px -1px hsl(var(--color-shadow-button) / 0.53);
  --shadow-button-medium:
    0.1px 0.2px 0.3px hsl(var(--color-shadow-button) / 0.11),
    0.5px 0.7px 1.2px -0.3px hsl(var(--color-shadow-button) / 0.19),
    1.1px 1.4px 2.4px -0.7px hsl(var(--color-shadow-button) / 0.27),
    2.4px 3px 5.2px -1px hsl(var(--color-shadow-button) / 0.35);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
}

h1 {
  margin-inline: 4vw;
}



/* FORM */

form {
  margin-inline: 4vw;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

.label-section {
  font-weight: 600;
}


/* TEXT INPUTS */

.section-textinput {
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 1px;
}

.input-plus-status {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-text {
  width: var(--width-form);
  padding-inline: 0.25em;
  padding-block: 0.5em;
  font-size: 1rem;
}
.input-text:focus {
  outline: var(--outline-focus);
}

.required {
  color: var(--color-warning);
}

.icon-status {
  width: var(--width-icon-status);
  padding-inline: 1rem;
  overflow: visible;
}

/* show monkeys instead of dots */
input[type="password"] {
  color: var(--color-option-brown);
  font-family: 'mizaru';
  font-weight: bold;
  letter-spacing: 0.1em;
}

input[type="password"]::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  letter-spacing: 0;
}



/* RADIO BUTTONS */

fieldset {
  display: contents;
}

.fieldset-contents {
  margin-bottom: 2rem;
  width: var(--width-form);
  padding-left: 1rem;
}

.buttons-radio {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding-inline: clamp(0.2em, 3vw, 1em);
  padding-top: 0.5em;
  font-size: 0.8rem;
  text-Transform: capitalize;
  cursor: pointer;
}
.label-radio:focus-within {
  outline: var(--color-focus) solid 2px;
}
.label-radio:hover {
  color: var(--color-success);
}



/* ICONS */

svg.icon-label {
  margin-right: 0.3em;
}



/* IMAGE */

svg.animal {
  align-self: center;
  margin-block: 1rem; 
  margin-right: var(--width-icon-status);
  width: 20rem;
  max-width: var(--width-form);
  border-radius: 4px;
  background-color: var(--animal-background);
  box-shadow: var(--shadow-elevation-medium);
}



/* SUBMIT SECTION */

.section-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1rem;
  border-width: 2px;
  border-style: solid;
}

.error-summary, .success-message {
  width: 100%;
  justify-self: flex-start;
  font-size: 0.8rem;
}

h2 {
  font-size: 1rem;
}

.error {
  color: var(--color-warning);
  font-size: 0.8rem;
}

a {
  color: inherit;
}
a:hover {
  font-weight: 500;
}
a:focus {
  outline-style: solid;
  outline-color: var(--color-focus);
  outline-width: 1px;
  outline-offset: 2px;
}

.button-submit {
  margin-right: var(--width-icon-status);
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 8rem;
  padding:0.35em 1.2em;
  display:inline-block;
  outline: none;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;

  transition: box-shadow 300ms ease-in-out, filter 300ms ease-in-out;
  filter: brightness(1) saturate(1);
  box-shadow: var(--shadow-button-low);
}

.button-submit:hover {
  transition: box-shadow 300ms ease-in-out, filter 300ms ease-in-out;
  filter: brightness(1.2) saturate(1.2);
  box-shadow: var(--shadow-button-medium);
}

.button-submit:focus {
  outline: var(--outline-focus);
  outline-offset: 1px;
}

@media screen and (max-width: 480px) {
  :root {
    --width-icon-status: 1.6rem;
  }
  .icon-status {
    padding-inline: 0.3rem;
  }
}
